

.forgot-password-page-title {
	display: flex;
	justify-content: center;
	margin: 15px 0;
}
.forgot-password-page-title p {
	color: white;
	font-size: 20px;
	font-family: "Play Regular", sans-serif;
}
.forgot-password-input-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin: 0 auto;
	width: 350px;
}
.forgot-password-input-container input {
	background: silver;
	width: 350px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	text-transform: lowercase;
}
.forgot-password-input-container button {
	padding: 10px 0;
}
.success-send-password-page-title {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	margin-top: 50px;
}
.success-send-password-page-title p {
	text-align: center;
	color: white;
}
.btn-home{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}